<div
  class="flex p-4 mb-4 rounded-xl text-sm text-left bg-amber-50"
  role="alert"
>
  <div class="mr-2">
    <svg
      class="flex-shrink-0 w-5 h-5"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.0043 13.3333V9.16663M9.99984 6.66663H10.0073M9.99984 18.3333C5.39746 18.3333 1.6665 14.6023 1.6665 9.99996C1.6665 5.39759 5.39746 1.66663 9.99984 1.66663C14.6022 1.66663 18.3332 5.39759 18.3332 9.99996C18.3332 14.6023 14.6022 18.3333 9.99984 18.3333Z"
        stroke="#F59E0B"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </div>
  <div class="block">
    <h3 class="text-amber-500 font-normal">
      <span class="font-semibold mr-1">Warning</span> Your subscription payment
      is due
    </h3>
    <p class="mt-1 text-gray-600">
      Kindly renew your subscription of the pagedone by end of this month.
    </p>
    <div class="flex items-center gap-6 mt-4">
      <button
        class="font-semibold text-gray-900 transition-all duration-500 hover:text-amber-500"
      >
        Remind later
      </button>
      <button
        class="font-semibold text-gray-900 transition-all duration-500 hover:text-amber-500"
      >
        Renew now
      </button>
    </div>
  </div>
</div>
<div
  class="flex p-4 mb-4 rounded-xl text-sm text-left bg-emerald-50 border border-emerald-400"
  role="alert"
>
  <div class="mr-2">
    <svg
      class="flex-shrink-0 w-5 h-5"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.0043 13.3333V9.16666M9.99984 6.66666H10.0073M9.99984 18.3333C5.39746 18.3333 1.6665 14.6024 1.6665 9.99999C1.6665 5.39762 5.39746 1.66666 9.99984 1.66666C14.6022 1.66666 18.3332 5.39762 18.3332 9.99999C18.3332 14.6024 14.6022 18.3333 9.99984 18.3333Z"
        stroke="#10B981"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </div>
  <div class="block">
    <h3 class="text-emerald-500 font-normal">
      <span class="font-semibold mr-1">Success</span> Your subscription payment
      is successful
    </h3>
    <p class="mt-1 text-gray-600">
      Kindly renew your subscription of the pagedone by end of this month.
    </p>
    <div class="flex items-center gap-6 mt-4">
      <button
        class="font-semibold text-gray-900 transition-all duration-500 hover:text-emerald-500"
      >
        Remind later
      </button>
      <button
        class="font-semibold text-gray-900 transition-all duration-500 hover:text-emerald-500"
      >
        Renew now
      </button>
    </div>
  </div>
</div>
<div class="flex p-4 mb-4 rounded-xl text-sm text-left bg-red-500" role="alert">
  <div class="mr-2">
    <svg
      class="flex-shrink-0 w-5 h-5"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.0043 13.3333V9.16663M9.99984 6.66663H10.0073M9.99984 18.3333C5.39746 18.3333 1.6665 14.6023 1.6665 9.99996C1.6665 5.39759 5.39746 1.66663 9.99984 1.66663C14.6022 1.66663 18.3332 5.39759 18.3332 9.99996C18.3332 14.6023 14.6022 18.3333 9.99984 18.3333Z"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="block">
    <h3 class="text-white font-normal">
      <span class="font-semibold mr-1">Danger</span> Your subscription payment
      is failed
    </h3>
    <p class="mt-1 text-white/80">
      Kindly renew your subscription of the pagedone by end of this month.
    </p>
    <div class="flex items-center gap-6 mt-4">
      <button class="font-semibold text-white transition-all duration-500">
        Remind later
      </button>
      <button class="font-semibold text-white transition-all duration-500">
        Renew now
      </button>
    </div>
  </div>
</div>
