<!-- Navigation Toggle -->
<div class="lg:hidden py-16 text-center">
  <button
    type="button"
    class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-start bg-gray-800 border border-gray-800 text-white text-sm font-medium rounded-lg shadow-2xs align-middle hover:bg-gray-950 focus:outline-hidden focus:bg-gray-900"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-sidebar-footer"
    aria-label="Toggle navigation"
    data-hs-overlay="#hs-sidebar-footer"
  >
    Open
  </button>
</div>
<!-- End Navigation Toggle -->

<!-- Sidebar -->
<div
  id="hs-sidebar-footer"
  class="hs-overlay [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 w-64 hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform h-full hidden top-0 start-0 bottom-0 z-60 bg-gray-100"
  role="dialog"
  tabindex="-1"
  aria-label="Sidebar"
>
  <div class="relative flex flex-col h-full max-h-full">
    <!-- Header -->
    <header class="p-4 flex justify-between items-center gap-x-2">
      <a
        class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80"
        href="#"
        aria-label="Brand"
        >Brand</a
      >

      <div class="lg:hidden -me-2">
        <!-- Close Button -->
        <button
          type="button"
          class="flex justify-center items-center gap-x-3 size-6 bg-white border border-gray-200 text-sm text-gray-600 hover:bg-gray-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
          data-hs-overlay="#hs-sidebar-footer"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
          <span class="sr-only">Close</span>
        </button>
        <!-- End Close Button -->
      </div>
    </header>
    <!-- End Header -->

    <!-- Body -->
    <nav
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div
        class="hs-accordion-group pb-0 px-2 w-full flex flex-col flex-wrap"
        data-hs-accordion-always-open
      >
        <ul class="space-y-1">
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              <img src="/assets/icons/dashboard.svg" alt="" class="size-4" />
              Dashboard
            </a>
          </li>
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              <img src="/assets/icons/studentCap.svg" alt="" class="size-5" />
              Student
            </a>
          </li>
          <ul>
            @for (project of projects; track $index; let i = $index) {
            <li class="hs-accordion" [id]="'projects-accordion-' + i">
              <button
                type="button"
                class="hs-accordion-toggle w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 hand"
                [attr.aria-expanded]="project.isOpen ? 'true' : 'false'"
                (click)="openDropdown(i)"
              >
                <img [src]="project.icon" alt="" class="size-4" />
                {{ project.name }}
                <img
                  *ngIf="project.isOpen"
                  src="/assets/icons/arrowUp.svg"
                  alt=""
                  class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500"
                />

                <img
                  *ngIf="!project.isOpen"
                  src="/assets/icons/arrowDown.svg"
                  alt=""
                  class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500"
                />
              </button>

              <div
                *ngIf="project.isOpen"
                id="'projects-accordion-' + i + '-content'"
                class="hs-accordion-content w-full overflow-hidden"
                role="region"
                aria-labelledby="'projects-accordion-' + i"
                [@accordionAnimation]
              >
                <ul class="pt-1 ps-7 space-y-1">
                  <li *ngFor="let link of project.links">
                    <a
                      class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
                      href="#"
                    >
                      {{ link }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            }
          </ul>

          <li>
            <a
              class="w-full flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              <img src="/assets/icons/calendar.svg" alt="" class="size-4" />
              Calendar
              <span
                class="ms-auto py-0.5 px-1.5 inline-flex items-center gap-x-1.5 text-xs bg-gray-200 text-gray-800 rounded-full"
                >New</span
              >
            </a>
          </li>
          <li>
            <a
              class="w-full flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              <img src="/assets/icons/document.svg" alt="" class="size-4" />
              Documentation
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Body -->

    <!-- Footer -->
    <footer class="mt-auto p-2 border-t border-gray-200">
      <!-- Account Dropdown -->
      <div
        class="hs-dropdown [--strategy:absolute] [--auto-close:inside] relative w-full inline-flex"
      >
        <button
          id="hs-sidebar-footer-example-with-dropdown"
          type="button"
          class="w-full inline-flex shrink-0 items-center gap-x-2 p-2 text-start text-sm text-gray-800 rounded-md hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
          aria-haspopup="menu"
          aria-expanded="false"
          aria-label="Dropdown"
        >
          <img
            class="shrink-0 size-5 rounded-full"
            src="https://images.unsplash.com/photo-1734122415415-88cb1d7d5dc0?q=80&w=320&h=320&auto=format&fit=facearea&facepad=3&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Avatar"
          />
          Mia Hudson
          <svg
            class="shrink-0 size-3.5 ms-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m7 15 5 5 5-5" />
            <path d="m7 9 5-5 5 5" />
          </svg>
        </button>

        <!-- Account Dropdown -->
        <div
          class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-60 transition-[opacity,margin] duration opacity-0 hidden z-20 bg-white border border-gray-200 rounded-lg shadow-lg"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="hs-sidebar-footer-example-with-dropdown"
        >
          <div class="p-1">
            <a
              class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              My account
            </a>
            <a
              class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              Settings
            </a>
            <a
              class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              Billing
            </a>
            <a
              class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100"
              href="#"
            >
              Sign out
            </a>
          </div>
        </div>
        <!-- End Account Dropdown -->
      </div>
      <!-- End Account Dropdown -->
    </footer>
    <!-- End Footer -->
  </div>
</div>
<!-- End Sidebar -->
